html {
  font-family: sans-serif;
  font-size: 150%;
  line-height: 1.37;
}

header[role=banner],
main[role=main],
footer[role=contentinfo] {
  margin: 0 auto;
  max-width: 30rem;
}

footer[role=contentinfo] {
  margin-top: 2rem;
  border-top: 1px solid black;
  padding-top: 0.5rem;
  color: darkred;
}

pre {
  white-space: pre-wrap;
}
